<div id="container">
  <h1 class='h1_home'>PLANET</h1>
<div id="conteneur">
  <div class="element_home">
  <%= link_to "Sign In", new_user_session_path, class: 'button' %>
  </div>
  <div class="element1_home">
  <%= link_to "Sign Up", new_user_registration_path, class: 'button' %>
  </div>
</div>
</div>
